<!DOCTYPE html>
<html>
<head>
    <title>Angular JS Model</title>
    <meta charset='utf8'/>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="./angular.min.js"></script>
    <link rel="stylesheet" href="todolist/style.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-app="MyToDoListApp">
<div ng-controller="ToDoListController">
    <div class="container">
        <div class="page-header text-center">
            <h1>Danh sách các việc cần làm của {{user}}</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default ">
                    <div class="panel-heading undone text-center">
                        <h2> Undone <span class="label label-default" ng-class="warningLevel('undone')" ng-hide="incompleteCount('undone') == 0">{{incompleteCount('undone')}}</span></h2>
                    </div>
                    <div class="panel-body">
                        <ul ng-repeat="t in undone " ng-class-odd="'odd'" >
                            <li ng-show="t.done == false">
                                <input type="checkbox" ng-model="t.done"><span style="padding-left: 10px">{{t.name}}</span><i ng-click="removeTodo('undone',$index)"
                                                                                     class="glyphicon glyphicon-trash pull-right"
                                                                                     aria-hidden="true"></i>
                            </li>
                        </ul>
                        <form ng-submit="createNewTodo('undone')">
                            <input type="text" class="form-control" ng-model="newUndone" placeholder="Thêm công việc">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading in-progress text-center">
                        <h2> In Progress <span class="label label-default" ng-class="warningLevel('inProgress')" ng-hide="incompleteCount('inProgress') == 0">{{incompleteCount('inProgress')}}</span></h2>
                    </div>
                    <div class="panel-body">
                        <ul ng-repeat="t in inProgress " ng-class-odd="'odd'">
                            <li ng-show="t.done == false"><input type="checkbox" ng-model="t.done"><span
                                    style="padding-left: 10px">{{t.name}}</span><i ng-click="removeTodo('inProgress',$index)"
                                                                                   class="glyphicon glyphicon-trash pull-right"
                                                                                   aria-hidden="true"></i></li>
                        </ul>
                        <form ng-submit="createNewTodo('inProgress')">
                            <input type="text" class="form-control" ng-model="newInProgress"
                                   placeholder="Thêm công việc">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading done text-center">
                        <h2> Done <span class="label label-default" ng-class="warningLevel('done')"  ng-hide="incompleteCount('done') == 0">{{incompleteCount('done')}}</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <ul ng-repeat="t in done" ng-class-odd="'odd'">
                            <li ng-show="t.done == true">
                                <input type="checkbox" ng-model="t.done"><span
                                    style="padding-left: 10px">{{t.name}}</span><i ng-click="removeTodo('done',$index)"
                                                                                   class="glyphicon glyphicon-trash pull-right"
                                                                                   aria-hidden="true"></i></li>
                        </ul>
                        <form ng-submit="createNewTodo('done')">
                            <input type="text" class="form-control" ng-model="newDone" placeholder="Thêm công việc">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="todolist/todolist.js"></script>
</html>