<style>
    .navbar-right { float: right !important; margin-right: 8.5%; }
    .navbar-text { margin-right: 10px; }
</style>
<div class="navbar-right">
    <div class="navbar-text">
        <b>Your cart:</b>
        {{itemCount()}} item(s),
        {{total() | currency}}
    </div>
    <a href="/#/checkout" class="btn btn-default navbar-btn">Checkout</a>
</div>