<div class="alert alert-danger" ng-show="error.status == '404'">
    Error {{error.status}}. The product data was not loaded.
    <a href="/index.html" class="alert-link">Click here to try again</a>
</div>
<div class="panel panel-default row" ng-show="error.status != '404'">
    <div class="col-xs-3">
        <a ng-click="selectCategory()"
           class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)">Home
        </a>
        <a ng-repeat="item in products | orderBy:'category' | unique:'category'"
           ng-click="selectCategory(item)" ng-class="getCategoryClass(item)"  class=" btn btn-block btn-default btn-lg">
            {{item}}
        </a>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="item in products | orderBy : 'name' | filter:categoryFilterFn | range:selectedPage:pageSize " >
            <h3>
                <strong>{{item.name}}</strong>
                    <span class="pull-right label label-info">
                        {{item.price | currency}}
                    </span>
            </h3>
            <button ng-click="addProductToCart(item)"
                    class="btn btn-success pull-right">Add To Cart</button>
            <span class="lead">{{item.description}}</span>
        </div>
        <div class="pull-right btn-group pagination">
            <a ng-repeat="page in products | filter:categoryFilterFn | pageCount:pageSize"
               ng-click="selectPage($index + 1)" class="btn btn-default"
               ng-class="getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>
    </div>
</div>