<h3>Order zone</h3>
<p class="lead">Place your info here, we will response your order as soon as possible </p>
<div ng-controller="OrderController">
    <form name="shippingForm" novalidate ng-submit="createOrder(cartSummary)">
        <div class="well">
            <div class="form-group">
                <label>Name</label>
                <input name="username" class="form-control"
                       ng-model="order.username" required/>
            <span class="error" ng-show="shippingForm.username.$touched && shippingForm.username.$error.required">
                Please fill your name</span>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input name="address" class="form-control"
                       ng-model="order.address" required/>
            <span class="error" ng-show="shippingForm.address.$touched && shippingForm.address.$error.required">
                Please fill your address
            </span>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input name="phone" class="form-control"
                       ng-model="order.phone" required/>
            <span class="error" ng-show="shippingForm.phone.$touched && shippingForm.phone.$error.required">
                Please fill your phone number
            </span>
            </div>
            <div class="form-group">
                <label>City</label>
                <input name="city" class="form-control"
                       ng-model="order.city" required/>
            <span class="error" ng-show="shippingForm.city.$touched && shippingForm.city.$error.required">
                Please enter a city
            </span>
            </div>
            <div class="form-group">
                <label>State</label>
                <input name="state" class="form-control"
                       ng-model="order.state" required/>
    <span class="error" ng-show="shippingForm.state.$touched && shippingForm.state.$error.required">
        Please enter a state
    </span>
            </div>
            <div class="form-group">
                <label>Zip</label>
                <input name="zip" class="form-control"
                       ng-model="order.zip" required/>
    <span class="error" ng-show="shippingForm.order.$touched && shippingForm.zip.$error.required">
        Please enter a zip code
    </span>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input name="country" class="form-control"
                       ng-model="order.country" required/>
    <span class="error" ng-show="shippingForm.country.$touched && shippingForm.country.$error.required">
        Please enter a country
    </span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="shippingForm.$invalid"> Submit order</button>
            </div>
        </div>
    </form>
</div>