<div class="alert alert-danger" ng-show="error">
    Error ({{error.status}}). The order could not be placed.
    <a href="#/placeorder" class="alert-link">Click here to try again</a>
</div>
<div class="well" ng-hide="error">
    <h2>Thanks!</h2>
    Thanks for placing your order. We'll ship your goods as soon as possible.
    If you need to contact us, use reference {{orderID}}.
</div>
