* {
    margin: 0;
    padding:0;
    list-style-type: none;
    box-sizing : border-box;
}
body {
    background-color : #ecf0f5;
}

li {
    padding: 10px;
    min-height: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}
.undone {
    background-color: #d9edf7 !important;
}

.in-progress {
    background-color: #fcf8e3 !important;
}
.done {
    background-color: #dff0d8 !important;
}

.panel-heading h2{
    font-size: 20px;
}
.odd {
    background-color: blue;
    color: red;
}